
/** General **/
a {
    color: #004586;
    text-decoration: none;
}

h1 {
    font-size: 1.4em;
}

    h1 a {
        color: #555;
        font-weight: normal;
    }

body {
    font-size: 100%;
    color: #555;
    font-family: Helvetica, Tahoma, Arial;
    line-height: 1.2em;
}

h2, h3, h4 {
    margin: 40px 0 0 0;
    color: black;
    font-weight: normal;
}

img {
    max-width: 99%;
}


.light {
    color: #eee;
}

blockquote {
  color: black;
  font-family: monospace;
  font-size: 1.1em;
}


/** Post List **/
.post-list {
    float: left;
    padding: 0px 0px 0px;
    width: 279px;
    
    text-decoration: none;
}

    .post-list ul {
        margin: 0;
        padding: 0;
    
        list-style-type: none;
    }
    
        .post-list li {
            margin: 0px 0px 15px;
        }
        
            .post-list li a {
                margin-left: 5px;
                
                font-size: 0.9em;
            }
    
    
/** Structure **/

.mainest {
    width: 960px;
    margin: 0 auto;
    padding: 40px 0 0;
}

header {
    margin: 0 0 20px;
}


.content {
    float: left;
    width: 760px;
}

.sidebar {
    float: left;
    width: 150px;
    margin: 0 0 0 20px;
    padding: 0 0 0 10px;
    border-left: 1px solid #eee;
}

header {
    margin: 0 0 20px;
}


footer {
    margin: 100px 0 0;
}


/** Posts **/
#post section {
    margin: 0 0 20px;
    padding: 0 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    --webkit-border-radius: 10px;
    --moz-border-radius: 10px;
}

#post section:nth-child(even) {
    background: #fafafa;
}

    #post section h2 {
        margin-top: 20px;
    }


/** Clearfix **/
.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */
    
    
    
