
/** General **/
a {
    color: black;
    text-decoration: none;
}

h1 a {
    color: #555;
    font-weight: normal;
}

body {
    color: #555;
    font-family: Helvetica, Tahoma, Arial;
}


/** Post List **/
.post-list {
    float: left;
    padding: 5px 0px 0px;
    width: 279px;
    
    text-decoration: none;
}

    .post-list ul {
        margin: 0;
        padding: 0;
    
        list-style-type: none;
    }
    
        .post-list li {
            margin: 0px 0px 15px;
        }
    
    
/** Main Content **/
.main {
    float: left;
    margin: 0px 0px 0px 50px;
}

    .main p {
    }
    
    
    
    
