<!DOCTYPE HTML>

<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="author" content="Your Name" />
    <link rel="stylesheet" href="/css/base.css" />
    <title>{{ page.title }}</title>
  </head>
  <body>
    <div class="mainest">
        <div class="main clearfix">
            <header>
              <h1><a href="/">{{ page.title }}</a></h1>
            </header>

            <section class="content">
              {{ content }}
            </section>

            <div class="sidebar">
                <div class="post-list">    
                {% for collection in site.collections %}
                    {% capture label %}{{ collection | first }}{% endcapture %}
                    <h4>{{ label }}</h4>
                    <ul>
                        {% for doc in site.collections.[label].docs %}
                        <li>
                          <a href="{{ site.url }}{{ doc.url }}">{{ doc.title }}</a>
                        </li>
                      {% endfor %}
                    </ul>
                {% endfor %}
                <h4>Links</h4>
                <ul>
                    <li><a href="http://github.com/kvnn">Github</a></li>
                    <li><a href="https://www.linkedin.com/in/kevinriggen">LinkedIn</a></li>
                    <li><a href="https://twitter.com/kevinriggen">Tweeter</a></li>
                    <li><a href="https://dl.dropboxusercontent.com/u/1283216/KevinRiggen-resume.pdf">Resume</a></li>
                </ul>
                </div>
            </div>

        </div>

        <footer>
            <p><span class="light">Think think think. Build build build.</span> <a href="mailto:kriggen@gmail.com">kriggen@gmail.com</a></p>
        </footer>
    </div>

  </body>
</html>
